@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


/*Base Variables*/
$base-color:#555;
$base-inverse:#57696e;
$base-bg: #efefef;
$base-font: 'Montserrat', sans-serif ;
/*All Sizes*/
$head:28px;
$lead:20px;
/*Colors*/
$lead-color:#232b2d;
$secondary-color:#6ebbe5;
$border-color:#cccccc;
$overlay:rgba(0,0,0,0.70);
/*Comon Componetns Sizes*/
$header-height:80px;
/*Indexes*/
$drop-down-index:10;